.page {
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
